{% load i18n wagtailcore_tags static %}
  <!-- Hero image -->
  <div class="hero">
    <div class="hero-body"><img src="{% static 'images/hero-image.png' %}" alt="MLTogetherLA banner with logo" class="img-responsive img-fit-contain p-centered"></div>
  </div>

  <!-- What is MLTogetherLA? -->
  <div class="container bg-gray">
    <div class="columns">
      <div class="column col-8 col-mx-auto text-center p-2">
        <h1 class="m-2 text-primary p-2">What is MLTogetherLA?</h1>
        <p class="text-left">MLTogetherLA (Machine Learning Together Los Angeles) is a welcoming and inclusive group of data science enthusiasts who meet regularly in Los Angeles to discuss and explore topics in Data Science, Machine Learning, and Artificial Intelligence. Members come from a variety of backgrounds, including established Data Science professionals, aspiring ML practicioners, and lay persons.</p>
        <p class="text-left">A background in Data Science or Machine Learning is <strong>not</strong> required to be a member of MLTogetherLA. Additionally, a background in Software Engineering is also not required, although it can be useful in understanding some of the topics discussed. Machine Learning affects us <strong>all</strong> as we generate and collect more data in our day-to-day lives. <em>We feel that it is imperative that an open forum for discussing the moral, ethical, and practical implications of Machine Learning, Artificial Intelligence, and Data Science exist.</em></p>
        <p class="text-left">That isn't to say that our group is all talk and no action. We actively encourage our members to collect and explore data about themselves and the world around them and share the results with our fellow members. We have a <a href="https://github.com/MLTogetherLA" target="_blank">GitHub organization</a> for sharing code, a <a href="https://join.slack.com/t/mltogether-westla/shared_invite/enQtNTIyMjk2MDU1NjY2LWRmYjNlMDgwNjU3ZmNiYzg0OTM1OTFjOGJjZTVmYjZjYWQ2YWQ5ODQ3MDkwY2ZlZWVjNmJjOWM3YTRhYzc1ZGE" target="_blank">Slack group</a> for discussion, and a <a href="https://www.youtube.com/channel/UC9H239rQoI5jXMTCfkAV4XQ" target="_blank">YouTube Channel</a> for sharing highlights of our latest <a href="https://www.meetup.com/Machine-Learning-Together/" target="_blank">in-person Meetups</a>.
      </div>
    </div>
  </div>


  <!-- Where do we meet? -->
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-mx-auto text-center p-2">
        <h1 class="m-2 text-primary p-2">Where do we meet?</h1>
        <p class="text-left">Our primary location is <a href="https://spacepost.io" target="_blank">Spacepost</a> at 361 Vernon, Venice, Los Angeles, CA 90291. <a href="mailto:organizer@mltogether.la">Contact us</a> if you are interested in hosting a future MLTogetherLA meetup.</p>
        <div class="p-centered">
          <img class="img-responsive p-centered" src="https://maps.googleapis.com/maps/api/staticmap?center=361+Vernon+Ave,+Venice,+Los+Angeles&zoom=16&size=640x480&maptype=roadmap&markers=color:red%7C33.9949361,-118.4737308&key=AIzaSyDeyQE4XREs4Oe5OXzpfgNoqrmZ7lVlsc8" />
        </div>
      </div>
    </div>
  </div>


