  <!-- Footer Links and Copyright Info -->
  <footer class="grid-lg bg-gray">
    <div class="columns">
      <div class="col-10 col-mx-auto">
        <p class="m-2">
          <a href="https://www.meetup.com/Machine-Learning-Together/" class="btn btn-link"><i class="fab fa-meetup"></i> Meetup</a> 
          <a href="https://twitter.com/mltogetherla" class="btn btn-link"><i class="fab fa-twitter"></i> Twitter</a> 
          <a href="https://github.com/MLTogetherLA" class="btn btn-link"><i class="fab fa-github"></i> GitHub</a> 
          <a href="https://join.slack.com/t/mltogether-westla/shared_invite/enQtNTIyMjk2MDU1NjY2LWRmYjNlMDgwNjU3ZmNiYzg0OTM1OTFjOGJjZTVmYjZjYWQ2YWQ5ODQ3MDkwY2ZlZWVjNmJjOWM3YTRhYzc1ZGE" class="btn btn-link"><i class="fab fa-slack"></i> Slack</a> 
          <a href="https://www.linkedin.com/groups/13666038/" class="btn btn-link"><i class="fab fa-linkedin"></i> LinkedIn</a>  
          <a href="https://www.youtube.com/channel/UC9H239rQoI5jXMTCfkAV4XQ" class="btn btn-link"><i class="fab fa-youtube"></i> Youtube</a> 
          <a href="https://www.instagram.com/mltogetherla/" class="btn btn-link"><i class="fab fa-instagram"></i> Instagram</a>
        </p>
        <p class="m-2">Copyright 2019.</p>
      </div>
    </div>
  </footer>
  <!-- Copyright 2019, Elijah Scheele, et. al. all rights reserved -->