  {% load static %}
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Header Navigation -->
  <header class="navbar m-2 p-2">
    <section class="navbar-section m-2 p-2">
      <a href="https://mltogether.la" class="navbar-brand"><img src="{% static 'images/logo-64.png' %}" class="img-responsive img-fit-contain" alt="MLTogetherLA Logo" /></a>
      <a href="https://mltogether.la" class="navbar-brand mr-2">MLTogetherLA</a>
      <!--<a href="https://mltogether.la/code_conduct.html" class="btn btn-link">Code of Conduct</a>-->
    </section>
    <section class="navbar-section m-2">
      <a href="https://www.meetup.com/Machine-Learning-Together/" target="_blank" class="btn btn-link"><i class="fab fa-meetup fa-lg"></i></a>
      <a href="https://twitter.com/mltogetherla" target="_blank" class="btn btn-link"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="https://github.com/MLTogetherLA" target="_blank" class="btn btn-link"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://join.slack.com/t/mltogether-westla/shared_invite/enQtNTIyMjk2MDU1NjY2LWRmYjNlMDgwNjU3ZmNiYzg0OTM1OTFjOGJjZTVmYjZjYWQ2YWQ5ODQ3MDkwY2ZlZWVjNmJjOWM3YTRhYzc1ZGE" target="_blank" class="btn btn-link"><i class="fab fa-slack fa-lg"></i></a>
    </section>
  </header>